mpdb-test-server/test-data/test-database.dtd

<!ELEMENT dataset (
    chemical_analyses*,
    chemical_analysis_elements*,
    chemical_analysis_oxides*,
    element_mineral_types*,
    elements*,
    geometry_columns*,
    grids*,
    image_format*,
    image_on_grid*,
    image_reference*,
    images*,
    metamorphic_grades*,
    mineral_types*,
    minerals*,
    oxide_mineral_types*,
    oxides*,
    project_members*,
    project_samples*,
    projects*,
    reference*,
    regions*,
    sample_comments*,
    sample_metamorphic_grades*,
    sample_minerals*,
    sample_reference*,
    sample_regions*,
    samples*,
    spatial_ref_sys*,
    subsamples*,
    uploaded_files*,
    users*,
    xray_image*)>

<!ELEMENT chemical_analyses EMPTY>
<!ATTLIST chemical_analyses
    chemical_analysis_id CDATA #REQUIRED
    spot_id CDATA #REQUIRED
    subsample_id CDATA #REQUIRED
    point_x CDATA #IMPLIED
    point_y CDATA #IMPLIED
    image_id CDATA #IMPLIED
    analysis_method CDATA #IMPLIED
    where_done CDATA #IMPLIED
    analyst CDATA #IMPLIED
    analysis_date CDATA #IMPLIED
    date_precision CDATA #IMPLIED
    reference_id CDATA #IMPLIED
    description CDATA #IMPLIED
    mineral_id CDATA #IMPLIED
    large_rock CDATA #REQUIRED
    total CDATA #IMPLIED
>

<!ELEMENT chemical_analysis_elements EMPTY>
<!ATTLIST chemical_analysis_elements
    chemical_analysis_id CDATA #REQUIRED
    element_id CDATA #REQUIRED
    amount CDATA #REQUIRED
    precision CDATA #IMPLIED
    precision_type CDATA #IMPLIED
>

<!ELEMENT chemical_analysis_oxides EMPTY>
<!ATTLIST chemical_analysis_oxides
    chemical_analysis_id CDATA #REQUIRED
    oxide_id CDATA #REQUIRED
    amount CDATA #REQUIRED
    precision CDATA #IMPLIED
    precision_type CDATA #IMPLIED
>

<!ELEMENT element_mineral_types EMPTY>
<!ATTLIST element_mineral_types
    element_id CDATA #REQUIRED
    mineral_type_id CDATA #REQUIRED
>

<!ELEMENT elements EMPTY>
<!ATTLIST elements
    element_id CDATA #REQUIRED
    name CDATA #REQUIRED
    alternate_name CDATA #IMPLIED
    symbol CDATA #REQUIRED
    atomic_number CDATA #REQUIRED
    weight CDATA #IMPLIED
>

<!ELEMENT geometry_columns EMPTY>
<!ATTLIST geometry_columns
    f_table_catalog CDATA #REQUIRED
    f_table_schema CDATA #REQUIRED
    f_table_name CDATA #REQUIRED
    f_geometry_column CDATA #REQUIRED
    coord_dimension CDATA #REQUIRED
    srid CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT grids EMPTY>
<!ATTLIST grids
    grid_id CDATA #REQUIRED
    version CDATA #REQUIRED
    subsample_id CDATA #REQUIRED
    width CDATA #REQUIRED
    height CDATA #REQUIRED
>

<!ELEMENT image_format EMPTY>
<!ATTLIST image_format
    image_format_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT image_on_grid EMPTY>
<!ATTLIST image_on_grid
    image_on_grid_id CDATA #REQUIRED
    grid_id CDATA #REQUIRED
    image_id CDATA #REQUIRED
    top_left_x CDATA #REQUIRED
    top_left_y CDATA #REQUIRED
    z_order CDATA #REQUIRED
    opacity CDATA #REQUIRED
    resize_ratio CDATA #REQUIRED
    width CDATA #REQUIRED
    height CDATA #REQUIRED
    checksum CDATA #REQUIRED
    checksum_64x64 CDATA #REQUIRED
    checksum_half CDATA #REQUIRED
>

<!ELEMENT image_reference EMPTY>
<!ATTLIST image_reference
    image_id CDATA #REQUIRED
    reference_id CDATA #REQUIRED
>

<!ELEMENT images EMPTY>
<!ATTLIST images
    image_id CDATA #REQUIRED
    checksum CDATA #REQUIRED
    version CDATA #REQUIRED
    sample_id CDATA #IMPLIED
    subsample_id CDATA #IMPLIED
    image_format_id CDATA #IMPLIED
    image_type CDATA #IMPLIED
    width CDATA #REQUIRED
    height CDATA #REQUIRED
    pixel_size CDATA #IMPLIED
    contrast CDATA #IMPLIED
    brightness CDATA #IMPLIED
    lut CDATA #IMPLIED
    collector CDATA #IMPLIED
    checksum_64x64 CDATA #REQUIRED
    checksum_half CDATA #REQUIRED
    filename CDATA #REQUIRED
>

<!ELEMENT metamorphic_grades EMPTY>
<!ATTLIST metamorphic_grades
    metamorphic_grade_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT mineral_types EMPTY>
<!ATTLIST mineral_types
    mineral_type_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT minerals EMPTY>
<!ATTLIST minerals
    mineral_id CDATA #REQUIRED
    name CDATA #REQUIRED
    parent_mineral_id CDATA #IMPLIED
>

<!ELEMENT oxide_mineral_types EMPTY>
<!ATTLIST oxide_mineral_types
    oxide_id CDATA #REQUIRED
    mineral_type_id CDATA #REQUIRED
>

<!ELEMENT oxides EMPTY>
<!ATTLIST oxides
    oxide_id CDATA #REQUIRED
    element_id CDATA #REQUIRED
    oxidation_state CDATA #IMPLIED
    species CDATA #IMPLIED
    weight CDATA #IMPLIED
    cations_per_oxide CDATA #IMPLIED
    conversion_factor CDATA #REQUIRED
>

<!ELEMENT project_members EMPTY>
<!ATTLIST project_members
    project_id CDATA #REQUIRED
    user_id CDATA #REQUIRED
>

<!ELEMENT project_samples EMPTY>
<!ATTLIST project_samples
    project_id CDATA #REQUIRED
    sample_id CDATA #REQUIRED
>

<!ELEMENT projects EMPTY>
<!ATTLIST projects
    project_id CDATA #REQUIRED
    version CDATA #REQUIRED
    user_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT reference EMPTY>
<!ATTLIST reference
    reference_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT regions EMPTY>
<!ATTLIST regions
    region_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT sample_comments EMPTY>
<!ATTLIST sample_comments
    comment_id CDATA #REQUIRED
    sample_id CDATA #REQUIRED
    comment_text CDATA #REQUIRED
    version CDATA #REQUIRED
>

<!ELEMENT sample_metamorphic_grades EMPTY>
<!ATTLIST sample_metamorphic_grades
    sample_id CDATA #REQUIRED
    metamorphic_grade_id CDATA #REQUIRED
>

<!ELEMENT sample_minerals EMPTY>
<!ATTLIST sample_minerals
    mineral_id CDATA #REQUIRED
    sample_id CDATA #REQUIRED
    amount CDATA #IMPLIED
>

<!ELEMENT sample_reference EMPTY>
<!ATTLIST sample_reference
    sample_id CDATA #REQUIRED
    reference_id CDATA #REQUIRED
>

<!ELEMENT sample_regions EMPTY>
<!ATTLIST sample_regions
    sample_id CDATA #REQUIRED
    region_id CDATA #REQUIRED
>

<!ELEMENT samples EMPTY>
<!ATTLIST samples
    sample_id CDATA #REQUIRED
    version CDATA #REQUIRED
    sesar_number CDATA #IMPLIED
    public_data CDATA #REQUIRED
    collection_date CDATA #IMPLIED
    date_precision CDATA #IMPLIED
    alias CDATA #REQUIRED
    rock_type CDATA #REQUIRED
    user_id CDATA #REQUIRED
    longitude_error CDATA #IMPLIED
    latitude_error CDATA #IMPLIED
    country CDATA #IMPLIED
    description CDATA #IMPLIED
    collector CDATA #IMPLIED
    collector_id CDATA #IMPLIED
    location_text CDATA #IMPLIED
    location CDATA #REQUIRED
>

<!ELEMENT spatial_ref_sys EMPTY>
<!ATTLIST spatial_ref_sys
    srid CDATA #REQUIRED
    auth_name CDATA #IMPLIED
    auth_srid CDATA #IMPLIED
    srtext CDATA #IMPLIED
    proj4text CDATA #IMPLIED
>

<!ELEMENT subsamples EMPTY>
<!ATTLIST subsamples
    subsample_id CDATA #REQUIRED
    version CDATA #REQUIRED
    sample_id CDATA #REQUIRED
    grid_id CDATA #IMPLIED
    name CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT uploaded_files EMPTY>
<!ATTLIST uploaded_files
    uploaded_file_id CDATA #REQUIRED
    hash CDATA #REQUIRED
    filename CDATA #REQUIRED
    time CDATA #REQUIRED
    user_id CDATA #IMPLIED
>

<!ELEMENT users EMPTY>
<!ATTLIST users
    user_id CDATA #REQUIRED
    version CDATA #REQUIRED
    first_name CDATA #REQUIRED
    last_name CDATA #REQUIRED
    email CDATA #REQUIRED
    password CDATA #REQUIRED
    address CDATA #IMPLIED
    city CDATA #IMPLIED
    province CDATA #IMPLIED
    country CDATA #IMPLIED
    postal_code CDATA #IMPLIED
    institution CDATA #IMPLIED
    reference_email CDATA #IMPLIED
>

<!ELEMENT xray_image EMPTY>
<!ATTLIST xray_image
    image_id CDATA #REQUIRED
    element_id CDATA #REQUIRED
    radiation CDATA #IMPLIED
    lines CDATA #IMPLIED
    dwelltime CDATA #IMPLIED
    current CDATA #IMPLIED
    voltage CDATA #IMPLIED
>

